.benefit-card {
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 12px color-mix(in srgb, var(--mui-palette-background-default) 15%, transparent);

  &__icon {
    color: var(--mui-palette-success-main);
    font-size: 32px;
  }

  &__title {
    font-weight: 700;
    color: var(--mui-palette-text-primary);
  }

  &__description {
    color: var(--mui-palette-text-secondary);
    line-height: 1.4;
  }
}
