.quantity-picker {
  display: flex;
  align-items: center;
  background-color: #201f26;
  border-radius: 9999px;
  padding: 2px 4px;
  border: 1px solid rgba(66, 70, 86, 0.2);

  .control-btn.MuiIconButton-root {
    color: var(--mui-palette-text-secondary);

    &:hover {
      color: var(--mui-palette-primary-light);
    }
  }

  .control-icon {
    font-size: 18px;
  }

  .quantity-value {
    padding: 0 16px;
    font-weight: 500;
    font-size: 13px;
    min-width: 24px;
    text-align: center;
    color: var(--mui-palette-text-primary);
  }
}
